{% extends '../base.html' %} 

{% block title %}
    <title>Prime Dominion</title>
{% endblock title %}



{% block content %}



    <br><br><br><br>
    <div class="container">
        <form action = "#" method = "POST" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example" name="dropdown">
                    <option selected>Supplier</option>
                    <option value="Products">Products</option>
                    <option value="Products">Transactions ID</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input class="form-control form-control-lg" name="search_data" type="text" placeholder="Search for Supplier" aria-label="default input example">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <div>

                   <table>                 
                
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Invoice Amount</th>

                        </tr>
                    </thead>
                {% for query in queryset %}
                    <tbody>
                        <tr>
                        <th scope="row">{{product.id}}</th>
                            <td>{{transaction.supplier}}</td>
                            <td>{{transaction.transaction_id}}</td>
                            <td>{{transaction.description}}</td>
                            <td>{{transaction.invoice_amount}}</td>
                        </tr>
                    </tbody>
                {% endfor %}


            </table>

        

        </div>
    </div>




























{% endblock content %}