
{%  extends 'app/main.html' %}

{% block content %}

{%  include 'app/status.html' %} 

<br>

<div class="row">

	<div class="container">
        <form>
            {% csrf_token %}
            <h3>Search for supplier</h3>
            <div class="input-group mb-3">
                <input class="form-control form-control-lg" name="data" type="text" placeholder="Search for Supplier" aria-label="default input example">
            </div>
            <button class="btn btn-primary">Search</button>
        </form>

    </div>





	<div class="col-md-5">
		<h5>SUPPLIERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'new_supplier' %}">Create Supplier</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Supplier</th>
					<th>Phone</th>
				</tr>

				{% for supplier in supplier_queryset reversed %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="view_record/{{supplier.pk}}">View</a></td>
						<td>{{supplier.name}}</td>
						<td>{{supplier.contact}}</td>
						<td><a class="btn btn-sm btn-info" href="update/{{supplier.pk}}">Update</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Products</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th scope="col">Supplier</th>
                    <th scope="col">Invoice Amount</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Contract Terms</th>
				</tr>

				{% for contract in contracts reversed %}
					<tr>
						<td>{{contract.supplier}}</td>
						<td>{{contract.invoice_amount}}</td>
						<td>{{contract.product_name}}</td>
						<td>{{contract.contract_terms}}</td>
						<td><a class="btn btn-sm btn-info" href="#">Update</a></td>
						

						<td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>



{% endblock content %}