
{%  extends 'app/main.html' %}

{% block content %}

{%  include 'app/status.html' %} 

<br>

<div class="row">

	<div class="container">
        <form action = "{% url 'index' %}" method = "POST" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example" name="dropdown">
                    <option selected>Supplier</option>
                    <option value="Products">Products</option>
                    <option value="Products">Transactions ID</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input class="form-control form-control-lg" name="data" type="text" placeholder="Search for Supplier" aria-label="default input example">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    </div>





	<div class="col-md-5">
		<h5>SUPPLIERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'new_supplier' %}">Create Supplier</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Supplier</th>
					<th>Phone</th>
				</tr>

				{% for supplier in supplier_queryset %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
						<td>{{supplier.name}}</td>
						<td>{{supplier.contact}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Products</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
				</tr>

				{% for Product in product_queryset %}
					<tr>
						<td>{{Product.supplier}}</td>
						<td>{{Product.quantity}}</td>
						<td>{{Product.unit_price}}</td>
						<td><a class="btn btn-sm btn-info" href="">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>



{% endblock content %}