{% extends '../base.html' %} 

{% block title %}
    <title>Add Supplier</title>
{% endblock title %}




{% block internal_style %}

    <style>
        .container {
            max-width: 960px;
            margin: 30px auto;
            padding: 20px;
        }

        h1 {
            font-size: 20px;
            text-align: center;
            margin: 20px 0 20px;
        }
        h1 small {
            display: block;
            font-size: 15px;
            padding-top: 8px;
            color: gray;
        }

        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 30px auto;
        }
        .avatar-upload .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
        }
        .avatar-upload .avatar-edit input {
            display: none;
        }
        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #FFFFFF;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all .2s ease-in-out;
        }
        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }
        .avatar-upload .avatar-edit input + label:after {
            content: "\f030";
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            top: 7px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
        }
        .avatar-upload .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }
        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

{% endblock internal_style %}

{% block script %}
    <script>
        
    </script>

{% endblock script %}


{% block content %}

    
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {% if messages %}
            {% for message in messages %}
                <div class="col-lg-12 mr-auto ml-auto alert bg-warning alert-dismissable pb-0 pt-0" role="alert">
                    <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" class="text-light font-weight-bold"><b>&times;</b></span>
                    </button>
                    <div class="row">
                        <div class="mr-auto ml-auto">
                        <p class="h5 mr-auto ml-auto p-2 text-light">
                             <b>
                                {% if message.tags ==  "alert-danger" %}
                                    <i class="fa fa-exclamation-triangle mr-3 text-danger"></i> {{ message }}
                                {% else %}
                                    <i class="fa fa-check"></i> {{ message }}
                                {% endif %}
                            </b>
                        </p>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="container">
            <form>
                {% csrf_token %}
                <h3>Search Below</h3>
                <div class="input-group mb-3">
                    <input class="form-control form-control-lg" name="data" type="text" placeholder="Eg. Ezekiel Mensah" aria-label="default input example">
                </div>
                <button class="btn btn-primary">Search</button>
            </form>

        </div>
        <br><br>

            <div class="card">
                <h5 class="card-header">
                    <a href="{% url 'transactions' %}" class="btn btn-sm btn-success shadow float-right text-light ml-5">Add Transaction<i class="fa fa-plus ml-2"></i></a>
                    <h4>Total Number of Products: {{total_transactions}}</h4>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered first">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Supplier</th>
                                    <th>Transaction ID</th>
                                    <th>Description</th>
                                    <th>Invoice Amount</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <th scope="row">{{product.id}}</th>
                                    <td>{{transaction.supplier}}</td>
                                    <td>{{transaction.transaction_id}}</td>
                                    <td>{{transaction.description}}</td>
                                    <td>{{transaction.invoice_amount}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        {% comment %} <p>Total Salem Assembly Members : {{total_salem_members}}</p>
                        <p>Total English Assembly Members : {{total_english_members}}</p>
                        <p>Total Central Assembly Members : {{total_central_members}}</p> {% endcomment %}
                    </div>
                </div>
            </div>
     </div>
        </div>

{% endblock content %}

