{% extends '../base.html' %} 

{% block title %}
    <title>Add Supplier</title>
{% endblock title %}




{% block internal_style %}

    <style>
        .container {
            max-width: 960px;
            margin: 30px auto;
            padding: 20px;
        }

        h1 {
            font-size: 20px;
            text-align: center;
            margin: 20px 0 20px;
        }
        h1 small {
            display: block;
            font-size: 15px;
            padding-top: 8px;
            color: gray;
        }

        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 30px auto;
        }
        .avatar-upload .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
        }
        .avatar-upload .avatar-edit input {
            display: none;
        }
        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #FFFFFF;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all .2s ease-in-out;
        }
        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }
        .avatar-upload .avatar-edit input + label:after {
            content: "\f030";
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            top: 7px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
        }
        .avatar-upload .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }
        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

{% endblock internal_style %}

{% block script %}
    <script>
        
    </script>

{% endblock script %}


{% block content %}
    
        <br><br><br><br>

    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xs-12 col-lg-11 col-md-11 col-sm-12 col-xl-7 mx-auto">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="col-lg-12 mr-auto ml-auto alert bg-warning alert-dismissable pb-0 pt-0" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true" class="text-danger"><b>&times;</b></span>
                                </button>
                                <div class="row">
                                    <div class="mr-auto ml-auto">
                                    <p class="h5 mr-auto ml-auto p-2 text-light">
                                         <b>
                                            {% if message.tags ==  "alert-danger" %}
                                                <i class="fa fa-exclamation-triangle mr-3 text-danger"></i> {{ message }}
                                            {% else %}
                                                <i class="fa fa-check"></i> {{ message }}
                                            {% endif %}
                                        </b>
                                    </p>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card">
                        <h5 class="card-header"><p class="h5">Add A New Transaction </p></h5>
                        <div class="card-body">
                            <form enctype="multipart/form-data" action="{% url 'new_product' %}" method="post" class="mb-5">
                                {% csrf_token %}
                                <div class="container">
                                    
                                    
                                </div>
                                <div class="form-row mb-3">
                                    <div class="form-group">
                                    <label for="{{ form.supplier.id_for_label }}">Supplier</label>
                                    <select name="{{ form.supplier.name }}" id="{{ form.supplier.id_for_label }}" class="form-control" class="form-select">
                                        <option value="">----------- Select The Supplier --------------</option>
                                        {% for supplier in suppliers %}
                                            <option value="{{ supplier.pk }}">{{ supplier }}</option> 
                                        {% endfor %}
                                    </select>
                                </div>


                                    <div class="col">
                                        <label for="{{ form.transaction_id.id_for_label }}">Transaction ID</label>
                                        <input type="text" name="{{ form.transaction_id.name }}" id="{{ form.transaction_id.id_for_label }}" class="form-control">
                                    </div>
                               

                                <div class="col">
                                    <label for="{{ form.invoice_amount.id_for_label }}">Invoice Amount</label>
                                    <input type="text" name="{{ form.invoice_amount.name }}" id="{{ form.invoice_amount.id_for_label }}" class="form-control">

                                </div>

                            
                                
                                <div class="col">
                                    <label for="{{ form.description.id_for_label }}">Description</label>
                                    <textarea type="text" id="{{ form.description.id_for_label }}" class="form-control" name="{{ form.description.name }}"></textarea>
                                </div>
                                    
                                
                                <br>
                                <hr>
                                

                                <button type="submit" class="btn btn-success mt-5 text-light btn-sm shadow">Add Transaction</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

