{% extends '../main.html' %} 

{% block title %}
    <title>Products List</title>
{% endblock title %}




{% block internal_style %}

    <style>
        .container {
            max-width: 960px;
            margin: 30px auto;
            padding: 20px;
        }

        h1 {
            font-size: 20px;
            text-align: center;
            margin: 20px 0 20px;
        }
        h1 small {
            display: block;
            font-size: 15px;
            padding-top: 8px;
            color: gray;
        }

        
    </style>

{% endblock internal_style %}

{% block script %}
    <script>
        
    </script>

{% endblock script %}


{% block content %}

    <br><br><br><br>
    
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {% if messages %}
            {% for message in messages %}
                <div class="col-lg-12 mr-auto ml-auto alert bg-warning alert-dismissable pb-0 pt-0" role="alert">
                    <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" class="text-light font-weight-bold"><b>&times;</b></span>
                    </button>
                    <div class="row">
                        <div class="mr-auto ml-auto">
                        <p class="h5 mr-auto ml-auto p-2 text-light">
                             <b>
                                {% if message.tags ==  "alert-danger" %}
                                    <i class="fa fa-exclamation-triangle mr-3 text-danger"></i> {{ message }}
                                {% else %}
                                    <i class="fa fa-check"></i> {{ message }}
                                {% endif %}
                            </b>
                        </p>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="container">
            <form>
                {% csrf_token %}
                <h3>Search Below</h3>
                <div class="input-group mb-3">
                    <input class="form-control form-control-lg" name="data" type="text" placeholder="Search By: Invoice Number, Invoice Amount, and Amount Paid" aria-label="default input example">
                </div>
                <button class="btn btn-primary">Search</button>
            </form>

        </div>
        <br><br>

            <div class="card">
                <h5 class="card-header">
                    <a href="{% url 'transaction' %}" class="btn btn-sm btn-success shadow float-right text-light ml-5">Add Transaction<i class="fa fa-plus ml-2"></i></a>
                <h4>Total Number of Transactions: {{total_transactions}}</h4>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tr>
                                <th scope="col">Supplier</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col">Amount Paid</th>
                                <th scope="col">Invoice Amount</th>
                                <th scope="col">Balace Due</th>
                                <th scope="col">Swift Invoice</th>
                                <th scope="col">Balance</th>
                            </tr>

                            {% for transact in transactions reversed %}
                                <tr>
                                    <td>{{transact.supplier}}</td>
                                    <td>{{transact.payment_status}}</td>
                                    <td class="amount">{{transact.amount_paid}}</td>
                                    <td>{{transact.invoice_amount}}</td>
                                    <td>{{transact.balance_due}}</td>
                                    <td>{{transact.invoice_number}}</td>
                                    <td>{{transact.balance}}</td>
                                    <td><a class="btn btn-sm btn-info" href="{% url 'update_payment' transact.pk %}">Update</a></td>
                                    
                                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_transaction' transact.pk %}">Delete</a></td>

                                </tr>
                            {% endfor %}

		
			            </table>
                        <br>
                        
                    </div>
                </div>
            </div>
     </div>
        </div>

{% endblock content %}

