{% extends '../main.html' %} 

{% block title %}
    <title>Records</title>
{% endblock title %}




{% block internal_style %}

    <style>
        .container {
            max-width: 960px;
            margin: 30px auto;
            padding: 20px;
        }

        h1 {
            font-size: 20px;
            text-align: center;
            margin: 20px 0 20px;
        }
        h1 small {
            display: block;
            font-size: 15px;
            padding-top: 8px;
            color: gray;
        }

        
    </style>

{% endblock internal_style %}

{% block script %}
    <script>
        
    </script>

{% endblock script %}



{% block content %}

    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-8 col-md-11 col-sm-12 col-12 mx-auto">
                    <div class="card p-5 shadow">
                    <div class="card-header">
                        <h3 class="h2">Select The Category</h3>
                    </div>
                    <div class="row mt-5">
                        <div class="">
                            <div class="card shadow">
                                <div class="card-header">
                                    <p class="h5">Suppliers</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Click to view all suppliers in our database, edit or modify an existing supplier, and delete existing supplier. Supplier details are in table form as listed below.<br>
                                        # Name,	Phone,	Address, Email,	Bank Details,	Bank Name,	Bank Address,	Accounts Name,	Accounts Number, and Swift Code.
                                    </p>
                                    <a href="#" class="btn btn-success text-light shadow btn-sm">View List</a>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="card shadow">
                                <div class="card-header">
                                    <p class="h5">Contracts</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Click to view all added Contracts so far in our database, edit or modify an existing contract, and delete existing contract. Contract details are in table form as listed below.<br>   
                                        #, Invoice Number,	Start Date,	Due Date,	Supplier,	Invoice Amount,	Product Name,	Contract Terms, and	Account Officer 
                                    </p>
                                    <a href="#" class="btn btn-success btn-sm shadow text-light">View List</a>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="card shadow">
                                <div class="card-header">
                                    <p class="h5">Transaction</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Click to add new members, edit or modify an existing member, view or list saved members in the system and delete existing member.
                                        Shepherds and Ministries of a particular member can also be accessed and modified from here.
                                    </p>
                                    <a href="#" class="btn btn-success text-light btn-sm shadow">View List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>


{% endblock content %}

